beautifulsoup4~=4.12.0
fastapi~=0.110.0
google-cloud-vision~=3.7.0
google-search-results~=2.4.0
gunicorn~=22.0.0
kaleido~=0.1.0
langchain~=0.1.0
langchain-anthropic~=0.1.0
langchain-openai~=0.1.0
langchain-community~=0.0.0
langchain-experimental~=0.0.0
langchain-google-community~=1.0.0
onnx~=1.16.0
openai~=1.23.0
opencv-python~=4.9.0
pandas~=2.2.0
pdf2image~=1.17.0
pdfminer.six
pikepdf~=8.15.0
pillow_heif~=0.16.0
plotly~=5.21.0
pymed~=0.8.0
pypdf~=4.2.0
python-dotenv~=1.0.0
requests~=2.31.0
spacy~=3.7.0
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.7.1/en_core_web_lg-3.7.1-py3-none-any.whl#sha256=ab70aeb6172cde82508f7739f35ebc9918a3d07debeed637403c8f794ba3d3dc
serpapi~=0.1.0
tiktoken~=0.6.0
unstructured[pdf]~=0.13.0
unstructured-inference~=0.7.0
uvicorn[standard]~=0.29.0
ydata-profiling~=4.7.0