beautifulsoup4~=4.12.0
fastapi~=0.110.0
google-search-results~=2.4.0
gunicorn~=22.0.0
langchain~=0.1.0
langchain-community~=0.0.0
langchain_experimental~=0.0.0
langchain-google-community~=1.0.0
openai~=1.23.0
pandas~=2.2.0
plotly~=5.21.0
pymed~=0.8.0
pypdf~=4.2.0
requests~=2.31.0
spacy~=3.7.0
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.7.1/en_core_web_lg-3.7.1-py3-none-any.whl#sha256=ab70aeb6172cde82508f7739f35ebc9918a3d07debeed637403c8f794ba3d3dc
serpapi~=0.1.0
tiktoken~=0.6.0
unstructured~=0.11.0
uvicorn[standard]~=0.29.0
ydata-profiling~=4.7.0